$font-family-base: 'Clear Sans', sans-serif;;
$font-size-base: 18px;
$grid-container: 414px;
$color-brand: #ea7362;
$color-link: $color-brand;
$link-underline: false;

@import 'node_modules/hocus-pocus/hocus-pocus';
